In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv(r"C:\Users\Manoj Dhandapani\Downloads\archive (7)\fraudTest.csv", encoding='ISO-8859-1')

In [4]:
data

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [5]:
data.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [6]:
data.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [7]:
# Example imputation for numeric columns
data['city_pop'].fillna(data['city_pop'].median(), inplace=True)
data['unix_time'].fillna(data['unix_time'].median(), inplace=True)
data['merch_lat'].fillna(data['merch_lat'].median(), inplace=True)
data['merch_long'].fillna(data['merch_long'].median(), inplace=True)
data['is_fraud'].fillna(0, inplace=True)  # Assuming is_fraud is a binary variable

In [8]:
data.dropna(subset=['unix_time', 'merch_lat', 'merch_long', 'is_fraud'], inplace=True)

In [9]:
# Check for missing values in the entire dataset
missing_values = data.isnull().sum()
print(missing_values)

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [10]:
data.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,555719.000000,5.557190e+05,555719.000000,555719.000000,555719.000000,555719.000000,5.557190e+05,5.557190e+05,555719.000000,555719.000000,555719.000000
mean,277859.000000,4.178387e+17,69.392810,48842.628015,38.543253,-90.231325,8.822189e+04,1.380679e+09,38.542798,-90.231380,0.003860
std,160422.401459,1.309837e+18,156.745941,26855.283328,5.061336,13.721780,3.003909e+05,5.201104e+06,5.095829,13.733071,0.062008
min,0.000000,6.041621e+10,1.000000,1257.000000,20.027100,-165.672300,2.300000e+01,1.371817e+09,19.027422,-166.671575,0.000000
25%,138929.500000,1.800429e+14,9.630000,26292.000000,34.668900,-96.798000,7.410000e+02,1.376029e+09,34.755302,-96.905129,0.000000
50%,277859.000000,3.521417e+15,47.290000,48174.000000,39.371600,-87.476900,2.408000e+03,1.380762e+09,39.376593,-87.445204,0.000000
75%,416788.500000,4.635331e+15,83.010000,72011.000000,41.894800,-80.175200,1.968500e+04,1.385867e+09,41.954163,-80.264637,0.000000
max,555718.000000,4.992346e+18,22768.110000,99921.000000,65.689900,-67.950300,2.906700e+06,1.388534e+09,66.679297,-66.952026,1.000000

In [11]:
X = data.drop('is_fraud', axis=1)  # Assuming 'is_fraud' is the target variable
y = data['is_fraud']

In [12]:
data['Unnamed: 0'],unnamed_name=pd.factorize(data['Unnamed: 0'])
print(unnamed_name)

Index([     0,      1,      2,      3,      4,      5,      6,      7,      8,
            9,
       ...
       555709, 555710, 555711, 555712, 555713, 555714, 555715, 555716, 555717,
       555718],
      dtype='int64', length=555719)

In [13]:
data['cc_num'],cc_name=pd.factorize(data['cc_num'])
print(cc_name)

Index([2291163933867244, 3573030041201292, 3598215285024754, 3591919803438423,
       3526826139003047,   30407675418785,  213180742685905, 3589289942931264,
       3596357274378601, 3546897637165774,
       ...
       3550412175018089,     586100864972,  372965408103277,  180020605265701,
        347399333635231,    4883407061576,    4295296907373, 4087542780207162,
       3588001568691267, 2242176657877538],
      dtype='int64', length=924)

In [14]:
data['category'],category_name=pd.factorize(data['category'])
print(category_name)

Index(['personal_care', 'health_fitness', 'misc_pos', 'travel', 'kids_pets',
       'shopping_pos', 'food_dining', 'home', 'entertainment', 'shopping_net',
       'misc_net', 'grocery_pos', 'gas_transport', 'grocery_net'],
      dtype='object')

In [15]:
data['trans_date_trans_time'],time_name=pd.factorize(data['trans_date_trans_time'])
print(time_name)

Index(['2020-06-21 12:14:25', '2020-06-21 12:14:33', '2020-06-21 12:14:53',
       '2020-06-21 12:15:15', '2020-06-21 12:15:17', '2020-06-21 12:15:37',
       '2020-06-21 12:15:44', '2020-06-21 12:15:50', '2020-06-21 12:16:10',
       '2020-06-21 12:16:11',
       ...
       '2020-12-31 23:57:18', '2020-12-31 23:57:50', '2020-12-31 23:57:56',
       '2020-12-31 23:58:04', '2020-12-31 23:58:34', '2020-12-31 23:59:07',
       '2020-12-31 23:59:09', '2020-12-31 23:59:15', '2020-12-31 23:59:24',
       '2020-12-31 23:59:34'],
      dtype='object', length=544760)

In [16]:
data['amt'],amt_name=pd.factorize(data['amt'])
print(amt_name)

Index([   2.86,   29.84,   41.28,   60.05,    3.19,   19.55,  133.93,   10.37,
          4.37,   66.54,
       ...
       2149.66,  537.02, 1309.21,  256.67,  500.31,  850.87,  516.74,  255.42,
        302.79, 1164.37],
      dtype='float64', length=37256)

In [17]:
data['merchant'],merchant_name=pd.factorize(data['merchant'])
print(merchant_name)

Index(['fraud_Kirlin and Sons', 'fraud_Sporer-Keebler',
       'fraud_Swaniawski, Nitzsche and Welch', 'fraud_Haley Group',
       'fraud_Johnston-Casper', 'fraud_Daugherty LLC', 'fraud_Romaguera Ltd',
       'fraud_Reichel LLC', 'fraud_Goyette, Howell and Collier',
       'fraud_Kilback Group',
       ...
       'fraud_Rippin, Kub and Mann', 'fraud_Rempel PLC',
       'fraud_Leannon-Nikolaus', 'fraud_Monahan, Hermann and Johns',
       'fraud_Block-Hauck', 'fraud_Hagenes, Hermann and Stroman',
       'fraud_Hermann-Gaylord', 'fraud_Mante Group', 'fraud_Corwin-Gorczany',
       'fraud_McCullough Group'],
      dtype='object', length=693)

In [18]:
data['zip'],zip_name=pd.factorize(data['zip'])
print(zip_name)

Index([29209, 84002, 11710, 32780, 49632, 14816, 95528, 57374, 16858, 76678,
       ...
       40502, 13795, 87417, 66958, 65745, 98118, 52658, 73044, 99921, 38668],
      dtype='int64', length=912)

In [19]:
data['lat'],lat_name=pd.factorize(data['lat'])
print(lat_name)

Index([33.9659, 40.3207, 40.6729, 28.5697, 44.2529, 42.1939,  40.507, 43.7557,
       41.0001, 31.6591,
       ...
       38.0174, 42.0695,  36.741, 39.8616, 36.5276, 47.5412, 40.7067,  35.833,
       55.4732, 34.6323],
      dtype='float64', length=910)

In [20]:
data['long'],long_name=pd.factorize(data['long'])
print(long_name)

Index([          -80.9355,           -110.436,           -73.5365,
                 -80.8191, -85.01700000000001,           -76.7361,
                -123.9743,           -97.5936,           -78.2357,
                 -96.8094,
       ...
                 -84.4854,           -75.7967,           -108.351,
                 -97.1825,           -93.9359,           -122.275,
                 -91.2268,            -97.436,          -133.1171,
                 -89.8855],
      dtype='float64', length=910)

In [21]:
data['city_pop'],city_name=pd.factorize(data['city_pop'])
print(city_name)

Index([333497,    302,  34496,  54767,   1126,    520,   1139,    343,   3688,
          263,
       ...
       296965,   3800,   6910,    314,   2693, 837792,   1071,  20226,   1920,
        14462],
      dtype='int64', length=835)

In [22]:
data['unix_time'],unix_name=pd.factorize(data['unix_time'])
print(unix_name)

Index([1371816865, 1371816873, 1371816893, 1371816915, 1371816917, 1371816937,
       1371816944, 1371816950, 1371816970, 1371816971,
       ...
       1388534238, 1388534270, 1388534276, 1388534284, 1388534314, 1388534347,
       1388534349, 1388534355, 1388534364, 1388534374],
      dtype='int64', length=544760)

In [23]:
data['merch_lat'],merch_name=pd.factorize(data['merch_lat'])
print(merch_name)

Index([         33.986391,          39.450498,           40.49581,
                28.812398,          44.959148,          41.747157,
                41.499458,          44.495498,          41.546067,
                31.782919,
       ...
                35.008839,          27.593881,          65.623593,
       41.973127000000005,          32.164145,          39.946837,
                29.661049,           46.65834,          44.470525,
                36.210097],
      dtype='float64', length=546490)

In [24]:
data['merch_long'],long_name=pd.factorize(data['merch_long'])
print(long_name)

Index([        -81.200714,        -109.960431,         -74.196111,
               -80.883061,         -85.884734,         -77.584197,
              -124.888729,         -97.728453,         -78.120238,
               -96.366185,
       ...
               -78.664158, -81.47515600000001,        -120.457121,
               -80.855092,        -165.186033,        -123.553032,
       -87.53966899999999,        -119.715054,        -117.080888,
               -97.036372],
      dtype='float64', length=551770)

In [25]:
data['is_fraud'],fraud_name=pd.factorize(data['is_fraud'])
print(fraud_name)

Index([0, 1], dtype='int64')

In [26]:
data['first'],first_name=pd.factorize(data['first'])
print(first_name)

Index(['Jeff', 'Joanne', 'Ashley', 'Brian', 'Nathan', 'Danielle', 'Kayla',
       'Paula', 'David', 'Samuel',
       ...
       'Katelyn', 'Wesley', 'Sonya', 'Collin', 'Tommy', 'Guy', 'Dennis',
       'Bruce', 'Evan', 'Nicole'],
      dtype='object', length=341)

In [27]:
data['last'],last_name=pd.factorize(data['last'])
print(last_name)

Index(['Elliott', 'Williams', 'Lopez', 'Massey', 'Evans', 'Sutton', 'Estrada',
       'Everett', 'Obrien', 'Jenkins',
       ...
       'Bridges', 'Raymond', 'Davidson', 'Osborne', 'Webster', 'Freeman',
       'Bartlett', 'Santiago', 'Bates', 'Robbins'],
      dtype='object', length=471)

In [28]:
data['street'],street_name=pd.factorize(data['street'])
print(street_name)

Index(['351 Darlene Green', '3638 Marsh Union', '9333 Valentine Point',
       '32941 Krystal Mill Apt. 552', '5783 Evan Roads Apt. 465',
       '76752 David Lodge Apt. 064', '010 Weaver Land', '350 Stacy Glens',
       '4138 David Fall', '7921 Robert Port Suite 343',
       ...
       '742 Sellers Ferry', '4481 Maldonado Hollow',
       '53199 Laurie Mills Apt. 864', '7908 Derrick Mount',
       '13128 Hall Station Suite 588', '6386 Bailey Hill Apt. 421',
       '007 Tonya Isle Suite 299', '537 Brian Island', '5942 Thomas Park',
       '1327 Rose Causeway Apt. 610'],
      dtype='object', length=924)

In [29]:
data['job'],job_name=pd.factorize(data['job'])
print(job_name)

Index(['Mechanical engineer', 'Sales professional, IT', 'Librarian, public',
       'Set designer', 'Furniture designer', 'Psychotherapist',
       'Therapist, occupational', 'Development worker, international aid',
       'Advice worker', 'Barrister',
       ...
       'Medical technical officer', 'Charity officer', 'Administrator, arts',
       'Occupational therapist', 'Solicitor, Scotland', 'Sports administrator',
       'Artist', 'Engineer, water', 'Operational investment banker',
       'Software engineer'],
      dtype='object', length=478)

In [30]:
data['dob'],dob_name=pd.factorize(data['dob'])
print(dob_name)

Index(['1968-03-19', '1990-01-17', '1970-10-21', '1987-07-25', '1955-07-06',
       '1991-10-13', '1951-01-15', '1972-03-05', '1973-05-27', '1956-05-30',
       ...
       '1962-12-30', '1968-07-06', '1956-02-02', '2002-03-17', '1968-02-05',
       '1936-12-23', '1998-08-02', '1969-11-08', '1997-06-17', '1959-03-03'],
      dtype='object', length=910)

In [31]:
data['trans_num'],trans_name=pd.factorize(data['trans_num'])
print(trans_name)

Index(['2da90c7d74bd46a0caf3777415b3ebd3', '324cc204407e99f51b0d6ca0055005e7',
       'c81755dbbbea9d5c77f094348a7579be', '2159175b9efe66dc301f149d3d5abf8c',
       '57ff021bd3f328f8738bb535c302a31b', '798db04aaceb4febd084f1a7c404da93',
       '17003d7ce534440eadb10c4750e020e5', '8be473af4f05fc6146ea55ace73e7ca2',
       '71a1da150d1ce510193d7622e08e784e', 'a7915132c7c4240996ba03a47f81e3bd',
       ...
       'a7105564935ea3977dc61ff9ced3bf5e', '9fc9f6f9be3182d519a61a119cf97199',
       'a8310343c189e4a5b6316050d2d6b014', 'bd7071fd5c9510a5594ee196368ac80e',
       '6d04313bfe4b661b8ca2b6a499a320fe', '9b1f753c79894c9f4b71f04581835ada',
       '2090647dac2c89a1d86c514c427f5b91', '6c5b7c8add471975aa0fec023b2e8408',
       '14392d723bb7737606b2700ac791b7aa', '1765bb45b3aa3224b4cdcb6e7a96cee3'],
      dtype='object', length=555719)

In [32]:
data['gender'],gender_name=pd.factorize(data['gender'])
print(gender_name)

Index(['M', 'F'], dtype='object')

In [33]:
data['city'],city_name=pd.factorize(data['city'])
print(city_name)

Index(['Columbia', 'Altonah', 'Bellmore', 'Titusville', 'Falmouth',
       'Breesport', 'Carlotta', 'Spencer', 'Morrisdale', 'Prairie Hill',
       ...
       'Lexington', 'Kirkwood', 'Kirtland', 'Morrowville', 'Seligman',
       'Seattle', 'Wever', 'Guthrie', 'Craig', 'Senatobia'],
      dtype='object', length=849)

In [34]:
data['state'],state_name=pd.factorize(data['state'])
print(state_name)

Index(['SC', 'UT', 'NY', 'FL', 'MI', 'CA', 'SD', 'PA', 'TX', 'KY', 'WY', 'AL',
       'LA', 'GA', 'CO', 'OH', 'WI', 'VT', 'AR', 'NJ', 'IA', 'MD', 'MS', 'KS',
       'IL', 'MO', 'ME', 'TN', 'DC', 'AZ', 'MT', 'MN', 'OK', 'WA', 'WV', 'NM',
       'MA', 'NE', 'VA', 'ID', 'OR', 'IN', 'NC', 'NH', 'ND', 'CT', 'NV', 'HI',
       'RI', 'AK'],
      dtype='object')

In [35]:
x=data.iloc[:,0:-1]
y=data.iloc[:,-1]

In [36]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [37]:
feature_names = x.columns

In [38]:
from sklearn import tree, metrics
dtree=tree.DecisionTreeClassifier(criterion='gini')#entrophy or gini
dtree.fit(x_train,y_train)

DecisionTreeClassifier()

In [39]:
y_pred = dtree.predict(x_test)

In [40]:
accuracy = accuracy_score(y_test, y_pred)

In [41]:
print("Decision Tree Model:")
print("Accuracy:", accuracy)

Decision Tree Model:
Accuracy: 0.996293097243216

In [42]:
classification_rep = classification_report(y_test, y_pred)

In [43]:
print("Decision Tree Model:")
print("Accuracy:", accuracy)

Decision Tree Model:
Accuracy: 0.996293097243216

In [44]:
print("Classification Report:")
print(classification_rep)

Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    166056
           1       0.53      0.61      0.56       660

    accuracy                           1.00    166716
   macro avg       0.76      0.80      0.78    166716
weighted avg       1.00      1.00      1.00    166716